@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  background-color: rgba(244, 245, 250, 1);
}

@layer base {
  table.customer-list,
  table.customer-list td {
    border: 1px solid #ddd;
  }

  table.customer-list td {
    padding: 10px;
  }

  .dead-center {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  table.customer-list tr td.no-b-top,
  table.customer-list tbody tr td:nth-last-child(1) {
    display: grid;
    border-width: 0px;
    place-items: center;
    border-top-width: 1px;
  }
}
